html{
    background-color: black;
}

body{
    background-color: black;
}

nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: red;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    padding-bottom: 5px;
    font-size: large;
    border-color: white;
}

nav a{
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    padding: 10px;
}

.item{
    background-color: black;
    border: 1px solid white;
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.item2{
    background-color: black;
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 2;   
}

.item3{
    background-color: black;
    border: 1px solid white;
    padding: 20px;
    align-content: center;
    text-align: left;
    grid-column: span 3;
}